@use '@angular/material' as mat;

/*
 * Fix multi-line checkbox labels: https://github.com/angular/components/issues/8416
 */

// adds breaks to the mat-checkboxes with long labels
.mat-checkbox-layout {
  white-space: normal !important;
}

// rather than center the checkbox, put the checkbox in the first line
.mat-checkbox-inner-container {
  margin-top: 4px !important;
}

/*
 * Material Theming: https://material.angular.io/guide/theming
 */

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();

$primary: mat.define-palette(mat.$grey-palette);
$accent:  mat.define-palette(mat.$blue-gray-palette);

$theme: mat.define-dark-theme($primary, $accent);

@include mat.all-legacy-component-themes($theme);

/*
 *
 */

a, a:hover {
  color: mat.get-color-from-palette($primary, lighter);
}
